html {
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    background:linear-gradient(0deg, rgba(30,29,29,0.8) 0%, rgba(64,63,63,0.87) 12%, rgba(48,48,48,0.74) 22%, rgba(0,0,0,0.88) 83%),
     url(./images/body-background-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    aspect-ratio: 16/9;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

header figure {
    aspect-ratio: 1/1;
    width: 4rem;
}

header figure img {
    width: 100%;
    object-fit: contain;
}

header nav {
    display: flex;
    gap: 10%;
}

header nav button {
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 1rem 0.2rem;
    width: 10rem;
    color: white;
}

header nav button:hover {
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

#content {
    width: 100%;
    display: flex;
    align-items: center;
}

.body-container {
    display: none;
    margin: auto;
    color: white;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.4);
    width: 50%;
    margin-top: 15%;
    height: 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.active {
    display: flex;
}